$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import "vl-ui-core/src/scss/setting/colorsRaw";
@import "vl-ui-core/src/scss/setting/colors";
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_glyphicons.scss';

.ol-zoom {
  padding: 0px;
  margin: 0px;
  border: 1px $vl-alt-bg solid;
  border-radius: 0px;
  background: white;
  
  .ol-zoom-in, .ol-zoom-out {
    color: $vl-text-color;
    background: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0px;
    border-radius: 0px;

    &:hover {
      background-color: #f7f9fc;
    }

    &:focus {
      outline: 0;
      border: 0.1rem solid #ffc515;
      box-shadow: inset 0 0 0 0.1rem #ffc515;
      background-color: #f7f9fc;
    }
  }
}

.ol-scale-line {
  border: 1px solid $vl-alt-bg;
}

.ol-overviewmap {
  margin-bottom: 30px;
  border: 1px solid $vl-alt-bg;

  .ol-overviewmap-map {
    cursor: pointer;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    margin: 0px;
  }

  button {
    display: none;
  }
}

.ol-control {
  &.ol-zoom, &.layer-switcher {
    border: 1px solid $vl-alt-bg;
  }

  &.layer-switcher {
    opacity: 0.9;
    margin-top: 50px;

    button {
      background-image: none;

      font-family: 'Glyphicons Halflings';
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      color: $vl-text-color;
      font-size: 25px;

      &:before {
        content: "\e236";
      }

      &:focus {
        outline: none;

        ~ .panel {
          display: block;
        }
      }
    }

    .panel {
      margin-bottom: 0px;

      ul {
        margin-bottom: 0px;
        padding: 5px 8px;

        li {
          input {
            width: auto;
            margin-right: 10px;
          }

          label {
            float: none;
            clear: none;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.info-tooltip {
  position: relative;
  color: white;
  background-color: black;
  padding: 5px 10px;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 0.8em;

  .icon {
    @extend .glyphicon;
    @extend .glyphicon-refresh;

    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
  }

  .close {
    @extend .glyphicon;
    @extend .glyphicon-remove;

    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    opacity: 0.6;
    font-size: 10px;

    &:hover {
      opacity: 1;
    }
  }

  @-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }

  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 50%;
    margin-left: -6px;
    border-bottom-width: 0;
    border-top-color: black;
    bottom: -11px;
    border-width: 6px;
  }
}

.measure-tooltip {
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px 10px;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 0.8em;
  bottom: 20px;
  white-space: nowrap;
  pointer-events: none;
}
